n8n_project/n8n_workflow.json
{
  "name": "Clinic Automation Bot (n8n)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        496
      ],
      "webhookId": "telebot-uuid-placeholder",
      "id": "d8614773-293d-4dcd-b3b6-6b08ebc916ab",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "value2": "/start"
            }
          ]
        }
      },
      "name": "IF /start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        496
      ],
      "id": "2499187f-b5b4-4b43-b145-cf2a6c4fc822"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1URPPHyppxT8mDRYG8e93KK5nEMpcF7pNWY2KkG_pmEw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telegram_ID",
              "lookupValue": "={{ String($node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"]) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        480
      ],
      "id": "77e98837-dfb5-4a7c-8aac-c52550a292d4",
      "name": "Get row(s) in sheet",
      "settings": {
        "alwaysOutputData": true
      },
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZtQp7yZ6orrx1U2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd28b3e5-075c-43d3-b3ba-a461f2b3c754",
              "leftValue": "={{ String($json.Telegram_ID || \"\") }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        480
      ],
      "id": "0458f4b1-482c-43a7-bdc4-529f711a96ae",
      "name": "Check Duplicate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.Name }} عزیز، اطلاعات شما قبلاً در سیستم ثبت شده است. در صورت نیاز به تغییر، با پشتیبانی تماس بگیرید.",
        "additionalFields": {}
      },
      "name": "Already Registered",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        560,
        336
      ],
      "id": "5b385d17-df1f-49b4-a64f-322fa5e9297b",
      "webhookId": "57ff1101-a03e-4c0d-bfd5-85ba173ec225",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "سلام! 👋 خوش‌آمدید به مرکز بررسی اطلاعات.\n\nبرای ثبت اطلاعات کلینیکی خود، لطفاً روی فرم زیر کلیک کنید.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📝 ورود به فرم ثبت اطلاعات",
                    "additionalFields": {
                      "web_app": {
                        "url": "=https://shayanthn.github.io/mooshang-test/index.html?user_id={{ $('Telegram Trigger').first().json.message.from.id }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send Welcome & WebApp",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        560,
        544
      ],
      "id": "0abf4a32-5205-46b6-a96f-464a8f0fe55e",
      "webhookId": "cd5d9d03-483e-4bfd-852c-09254668eea3",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinic-form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook (Receive Form)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -368,
        848
      ],
      "webhookId": "clinic-webhook-uuid",
      "id": "5f0d3d15-8019-4caa-bd65-b3aa0efb9c84"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -96,
        704
      ],
      "id": "e12ceab0-3c23-4f15-a975-4e2b9f0074fc"
    },
    {
      "parameters": {
        "chatId": "191750790",
        "text": "=🚨 فرم جدید در کلینیک ثبت شد!\n\n👤 نام: {{$json[\"body\"][\"firstName\"]}} {{$json[\"body\"][\"lastName\"]}}\n📞 شماره تماس: {{$json[\"body\"][\"phone\"]}}\n🚬 سیگاری: {{$json[\"body\"][\"smoker\"]}}\n🩸 دیابت: {{$json[\"body\"][\"diabetes\"]}}\n🆔 ایدی تلگرام: {{$json[\"body\"][\"user_id\"]}}",
        "additionalFields": {}
      },
      "name": "Notify Admin (Secretary)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -96,
        848
      ],
      "id": "77134d65-7b21-4aed-8508-d78ee43f75b9",
      "webhookId": "ef31d800-600b-4be2-8e3b-88f71d927719",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1URPPHyppxT8mDRYG8e93KK5nEMpcF7pNWY2KkG_pmEw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telegram_ID": "={{ String($json.body.user_id) }}",
            "Name": "={{$json.body.firstName}}",
            "Last_name": "={{$json.body.lastName}}",
            "Phone": "={{ String($json.body.phone) }}",
            "Smoker": "={{$json.body.smoker}}",
            "Diabetes": "={{$json.body.diabetes}}",
            "Date": "={{new Date().toLocaleString('fa-IR')}}",
            "Age": "={{$json.body.age}}",
            "Allergies": "={{$json.body.allergies}}",
            "Surgeries": "={{$json.body.surgeries}}",
            "Medications": "={{$json.body.medications}}",
            "National_ID": "={{$json.body.nationalId}}",
            "Address": "={{$json.body.address}}",
            "Alcohol": "={{$json.body.alcohol}}",
            "Drugs": "={{$json.body.drugs}}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        1008
      ],
      "id": "8b4a0a85-08af-411c-b098-095182c45481",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZtQp7yZ6orrx1U2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin-get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook (Get Users)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1URPPHyppxT8mDRYG8e93KK5nEMpcF7pNWY2KkG_pmEw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        420,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZtQp7yZ6orrx1U2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $input.all().map(item => {\n  return {\n    user_id: item.json.Telegram_ID,\n    first_name: item.json.Name,\n    last_name: item.json.Last_name || item.json.Last_Name,\n    phone: item.json.Phone,\n    smoker: item.json.Smoker,\n    diabetes: item.json.Diabetes,\n    age: item.json.Age,\n    national_id: item.json.National_ID,\n    address: item.json.Address,\n    alcohol: item.json.Alcohol,\n    drugs: item.json.Drugs,\n    allergies: item.json.Allergies,\n    surgeries: item.json.Surgeries,\n    medications: item.json.Medications,\n    created_at: item.json.Date,\n    appointment: item.json.Appointment || \"\",\n    notes: item.json.Notes || \"\"\n  };\n});\n\nreturn [\n  {\n    json: {\n      status: \"success\",\n      data: users\n    }\n  }\n];"
      },
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={{$json}}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond Get Users",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-update-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook (Update User)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1URPPHyppxT8mDRYG8e93KK5nEMpcF7pNWY2KkG_pmEw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columnToMatchOn": "Telegram_ID",
        "valueToMatchOn": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"user_id\"]}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Appointment": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"appointment\"]}}",
            "Notes": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"notes\"]}}"
          }
        },
        "options": {}
      },
      "name": "Update User in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        420,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZtQp7yZ6orrx1U2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseBody": "{\n  \"status\": \"success\"\n}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond Update User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        560,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "app-cond",
              "leftValue": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"appointment\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"user_id\"]}}",
        "text": "👤 نام بیمار: {{$node[\"Webhook (Update User)\"].json[\"body\"][\"firstName\"]}}\n📅 وقت تعیین شده برای شما: {{$node[\"Webhook (Update User)\"].json[\"body\"][\"appointment\"]}}\n\n🔔 دستورالعمل‌های عمومی قبل از عمل:\n- حتما آزمایشات قبل از عمل را انجام دهید.\n- هزینه عمل طبق تعرفه با شما هماهنگ خواهد شد.\n\nآزمایشات لازم:\nCBC, HBS Ag, HCV, HIV, Pt, Ptt, INR, FBS\n(لطفا جواب آزمایشات را روز عمل همراه داشته باشید).",
        "additionalFields": {}
      },
      "name": "CRM: General Instructions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        880,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"age\"] || 0}}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"surgeries\"] || \"\"}}",
              "rightValue": "ندارد",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "IF: High Risk (Age/Surgery)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1080,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"user_id\"]}}",
        "text": "⚠️ هشدار ریسک بالا:\nبا توجه به سن یا سوابق جراحی، لطفا قبل از عمل علاوه بر آزمایشات روتین، تاییدیه پزشک متخصص قلب و عروق (اکو و نوار قلب) را نیز دریافت کنید.",
        "additionalFields": {}
      },
      "name": "CRM: High Risk Warning",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1280,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"allergies\"] || \"\"}}",
              "rightValue": "ندارد",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "IF: Allergies",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1480,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Webhook (Update User)\"].json[\"body\"][\"user_id\"]}}",
        "text": "⚠️ هشدار حساسیت دارویی:\nشما در فرم ثبت‌نام به حساسیت دارویی/غذایی اشاره کرده‌اید. لطفا روز عمل، پزشک و پرستار کلینیک را مستقیماً در جریان نوع حساسیت خود قرار دهید.",
        "additionalFields": {}
      },
      "name": "CRM: Allergies Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1680,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "cron-daily-reminder",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -800,
        -300
      ],
      "id": "655ee1c9-c091-4630-9d33-59af53047aaf"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1URPPHyppxT8mDRYG8e93KK5nEMpcF7pNWY2KkG_pmEw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "name": "gs-getall-reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -600,
        -300
      ],
      "id": "d590d4ee-b5e2-4774-8497-e96f027e25a6",
      "settings": {
        "alwaysOutputData": true
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZtQp7yZ6orrx1U2F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\nconst startOfToday = new Date(todayStr + \"T00:00:00.000Z\");\n\nconst items = [];\nfor (const item of $input.all()) {\n  const appointmentStr = item.json.Appointment;\n  if (!appointmentStr) continue;\n\n  const appointDate = new Date(appointmentStr + \"T00:00:00.000Z\");\n  if (isNaN(appointDate.getTime())) continue;\n\n  const diffTime = appointDate.getTime() - startOfToday.getTime();\n  const daysUntil = Math.round(diffTime / (1000 * 60 * 60 * 24)); // منفی به معنی گذشتن از عمل است\n\n  let reminderType = null;\n  if (daysUntil === 20) reminderType = 'reminder_20days';\n  else if (daysUntil === 2) reminderType = 'reminder_2days';\n  else if (daysUntil === 1) reminderType = 'reminder_night_before';\n  else if (daysUntil === 0) reminderType = 'reminder_surgery_day';\n  else if (daysUntil === -3) reminderType = 'followup_day3';\n  else if (daysUntil === -7) reminderType = 'followup_day7';\n  else continue;\n\n  const p = item.json;\n  const name = p.Name || '';\n  const age = parseInt(p.Age) || null;\n\n  const smoker = (p.Smoker || '').toString().toLowerCase() === 'yes' || p.Smoker === 'دارد' || p.Smoker === 'بله';\n  const diabetes = (p.Diabetes || '').toString().toLowerCase() === 'yes' || p.Diabetes === 'دارد' || p.Diabetes === 'بله';\n  const allergies = p.Allergies || '';\n\n  let extraWarnings = '';\n  if (smoker) extraWarnings += '\\n🚭 شما سابقه مصرف دخانیات ثبت کرده‌اید. لطفا حداقل ۲ هفته قبل از عمل مصرف دخانیات را متوقف کنید.';\n  if (diabetes) extraWarnings += '\\n🩸 با توجه به دیابت، حتما قند خون خود را کنترل کرده و روز عمل داروهای قند خود را همراه داشته باشید.';\n  if (age !== null && age >= 65) extraWarnings += '\\n👴👵 با توجه به سن شما، تاییدیه قلب و عروق (اکو) الزامی است.';\n  if (allergies && allergies !== 'ندارد' && allergies !== 'خیر') extraWarnings += `\\n⚠️ هشدار حساسیت: در پرونده شما حساسیت به \"${allergies}\" ثبت شده است. حتما پیش از عمل به پزشک یادآوری کنید.`;\n\n  let header, body;\n  if (reminderType === 'reminder_20days') {\n    header = '🔔 <b>۲۰ روز مانده به عمل</b>\\n\\n' + name + ' عزیز، ۲۰ روز تا تاریخ عمل شما زمان باقیست.';\n    body = '\\n📌 <b>وظایف شما:</b>\\n- لطفا آزمایشات قبل از عمل را در اسرع وقت انجام دهید تا در صورت وجود مشکل، فرصت درمان باشد.' + extraWarnings;\n  } else if (reminderType === 'reminder_2days') {\n    header = '🔔 <b>۲ روز مانده به عمل</b>\\n\\n' + name + ' عزیز، تنها ۲ روز تا عمل شما باقیست.';\n    body = '\\n📌 <b>لطفا توجه کنید:</b>\\n- مصرف داروهای رقیق‌کننده خون را متوقف کنید.\\n- در صورت داشتن علائم سرماخوردگی فورا به کلینیک اطلاع دهید.' + extraWarnings;\n  } else if (reminderType === 'reminder_night_before') {\n    header = '🔔 <b>شب قبل از عمل</b>\\n\\n' + name + ' عزیز، فردا روز عمل شماست.';\n    body = '\\n- لطفا از ساعت ۱۲ امشب <b>ناشتا</b> باشید (حتی آب ننوشید).\\n- مدارک پزشکی، جواب آزمایشات و کارت شناسایی را آماده کنید.\\n- شام سبک میل کنید و استراحت کافی داشته باشید.' + extraWarnings;\n  } else if (reminderType === 'reminder_surgery_day') {\n    header = '🔔 <b>روز عمل</b>\\n\\n' + name + ' عزیز، امروز منتظر شما هستیم!';\n    body = '\\n- لطفا با یک همراه مراجعه کنید.\\n- هیچ‌گونه زیورآلات همراه نداشته باشید.\\n- در زمان تعیین شده در کلینیک حضور یابید.' + extraWarnings;\n  } else if (reminderType === 'followup_day3') {\n    header = '🩺 <b>پیگیری روز سوم پس از عمل</b>\\n\\n' + name + ' عزیز، امیدواریم حالتان خوب باشد.';\n    body = '\\nلطفا به ما اطلاع دهید وضعیت درد شما چگونه است؟ (از ۱ تا ۱۰ به درد خود چه نمره‌ای می‌دهید؟ در همین صفحه ارسال کنید)\\n\\nدر صورت وجود خونریزی یا ورم غیرطبیعی، حتما یک عکس واضح از ناحیه عمل در همین چت ارسال کنید تا پزشک به صورت مستقیم وضعیت شما را بررسی کند.';\n  } else if (reminderType === 'followup_day7') {\n    header = '🩺 <b>پیگیری روز هفتم پس از عمل</b>\\n\\n' + name + ' عزیز، یک هفته از عمل شما گذشت.';\n    body = '\\nوقت آن رسیده که روند نقاهت شما بررسی شود.\\nلطفا یک عکس واضح از ناحیه عمل بفرستید تا روند بهبودی توسط کلینیک تایید شود.\\nآیا متوجه علائم غیرطبیعی یا عفونت شده‌اید؟';\n  }\n\n  items.push({\n    json: {\n      Telegram_ID: p.Telegram_ID,\n      Name: name,\n      daysUntil,\n      reminderType,\n      customMessage: header + body\n    }\n  });\n}\nreturn items;\n"
      },
      "name": "Compute Days & Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -300
      ],
      "id": "5309e867-f51f-42f9-8582-d9d419bf0cf0"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "reminder_20days",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "20 Days"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "reminder_2days",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 Days"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "reminder_night_before",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Night Before"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "reminder_surgery_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Surgery Day"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9e40f95f-fe37-4781-bbcb-535f7f2a4795",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "followup_day3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8436b1d1-84dc-45b5-b2ce-1991f0cc07f0",
                    "leftValue": "={{$json.reminderType}}",
                    "rightValue": "followup_day7",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 7"
            }
          ]
        },
        "options": {}
      },
      "name": "Route by Reminder Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        -300
      ],
      "id": "3f52d570-8373-4813-be45-e178b1ae9d35"
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send20",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ],
      "id": "691599fd-36b9-43f5-bd71-170fc5760739",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        200,
        -200
      ],
      "id": "b6cb1526-f37c-4cf1-a511-67896ebf9842",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "SendNight",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        -200
      ],
      "id": "5a656bde-739c-4f04-9162-dcd2e38ce3b0",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "SendSurgeryDay",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        600,
        -200
      ],
      "id": "24bb1784-157b-4e57-9d9f-4dc38dc72168",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "درد خفیف (۱-۳)",
                    "additionalFields": {
                      "callback_data": "pain_low"
                    }
                  },
                  {
                    "text": "درد متوسط (۴-۶)",
                    "additionalFields": {
                      "callback_data": "pain_mid"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "درد شدید! (۷-۱۰)",
                    "additionalFields": {
                      "callback_data": "pain_high"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "SendFollowUp3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        -200
      ],
      "id": "1cb5f797-162c-4b43-aaa0-560c070010ba",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ID }}",
        "text": "={{ $json.customMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "SendFollowUp7",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1000,
        -200
      ],
      "id": "7696b8e9-e39c-423d-b20b-8509aa3cfea0",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "191750790",
        "text": "=💬 پیامی از بیمار خارج از دستور ربات دریافت شد!\n\nآیدی: {{$json.message.from.id}}\nمتن:\n{{$json.message.text || 'بدون متن (شاید عکس ارسال شده)'}}",
        "additionalFields": {}
      },
      "name": "Forward To Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        112,
        650
      ],
      "id": "559af427-d1d5-4912-acde-61f3d7882f27",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mooshang-test.vercel.app/ask-ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{$json.message.text}}\", \"user_id\": \"{{$json.message.from.id}}\" }",
        "options": {}
      },
      "name": "Ask AI FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        850
      ],
      "id": "d46ecbc6-f52f-44f1-a90b-dd57acbb2639"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send AI Reply to Patient",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        320,
        850
      ],
      "id": "e79da27b-4b6e-4300-aa86-90e05508114b",
      "credentials": {
        "telegramApi": {
          "id": "vXlmVUHJDbuCCLw6",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF /start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF /start": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward To Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Already Registered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome & WebApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Receive Form)": {
      "main": [
        [
          {
            "node": "Respond to Frontend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin (Secretary)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Get Users)": {
      "main": [
        [
          {
            "node": "Get All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Respond Get Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Update User)": {
      "main": [
        [
          {
            "node": "Update User in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User in Sheet": {
      "main": [
        [
          {
            "node": "Respond Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Update User": {
      "main": [
        [
          {
            "node": "Has Appointment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Appointment?": {
      "main": [
        [
          {
            "node": "CRM: General Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: General Instructions": {
      "main": [
        [
          {
            "node": "IF: High Risk (Age/Surgery)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: High Risk (Age/Surgery)": {
      "main": [
        [
          {
            "node": "CRM: High Risk Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Allergies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: High Risk Warning": {
      "main": [
        [
          {
            "node": "IF: Allergies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Allergies": {
      "main": [
        [
          {
            "node": "CRM: Allergies Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cron-daily-reminder": {
      "main": [
        [
          {
            "node": "gs-getall-reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs-getall-reminder": {
      "main": [
        [
          {
            "node": "Compute Days & Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Days & Build Messages": {
      "main": [
        [
          {
            "node": "Route by Reminder Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Reminder Type": {
      "main": [
        [
          {
            "node": "Send20",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendFollowUp3",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendFollowUp7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendNight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendSurgeryDay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendFollowUp3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendFollowUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward To Admin": {
      "main": [
        [
          {
            "node": "Ask AI FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask AI FAQ": {
      "main": [
        [
          {
            "node": "Send AI Reply to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e93d86b1ae5451c1dab770801f96ad069a24ac55ced39b4412370482f97ecdbe"
  }
}